@import "tailwindcss";


@theme {
  --color-primary: #0F5C21;
  --color-secondary: #A6D2C8;
  --color-background: #FBFDFB;
  --color-text: #0B150D;
  --color-accent: #FA6E3C;
  --font-manrope: var(--font-manrope);
  --font-inter: var(--font-inter);
}


body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-inter);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-manrope);
}

ul {
  list-style: none;
}

.footer-list{
  @apply flex flex-col gap-6
}

.section-container{
  @apply py-20 flex flex-col gap-24
}

.edge-padding{
  @apply px-5
}